@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

hmtl, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

button {
    width: 120px;
    height: 40px;
    margin: 20px;
    font-size: 20px;

    background-color: #263A29;
    color: #fff;
    border: 1px solid #41644A;
    border-radius: 5px;
    transition: .2s;
    font-family: 'Prompt', sans-serif; 
    cursor: pointer;
}

button:hover {
    transform: translate(-4px, -4px);
    background: #41644A;
    box-shadow: 4px 4px #000;
}

button:active{
    transform: translate(0);
    box-shadow: none;
}

.viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263A29;
    height: 100vh;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius : 4px;
    }

    .container-score {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 700px;
        height: 500px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px 0px 0px 10px;
        box-shadow: 6px 6px #000;
        border-right: 3px dashed #263A29;

        .scoreboard-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
    }

    .scoreboard {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 10px;

        .logo-placar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: rgb(3, 0, 0);
        }

        .img-logo {
            height: 44px;
            width: 38px;
        }

        .first-team {
            width: 100px;
            height: 50px;
            background-color: rgb(3, 0, 0);
            margin-left: 2px;

            .first-name-team {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100px;
                height: 45px;
                color: rgb(255, 255, 255);
                font-family: 'Prompt', sans-serif;
                font-size: 30px;
                font-style: normal;
                margin: 0px;
            }

            .first-name-team::before {
                content: "";
                width: 100px;
                height: 5px;
                position: absolute;
                top: 45px;
                background-color: var(--team-one-color);
            }
        }

        .score {
            width: fit-content;
            height: 50px;
            background-color: rgb(3, 0, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2px;
            flex-flow: row wrap;

            .score-teams {
                color: rgb(255, 255, 255);
                font-family: 'Prompt', sans-serif;
                font-size: 30px;
                font-style: normal;
                margin: 0px 10px;
            }

            .hifen {
                background-color: rgb(255, 255, 255);
                width: 14px;
                height: 4px;
            }
        }

        .second-team {
            width: 100px;
            height: 50px;
            background-color: rgb(3, 0, 0);
            margin-left: 2px;

            .second-name-team {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100px;
                height: 45px;
                color: rgb(255, 255, 255);
                font-family: 'Prompt', sans-serif;
                font-size: 30px;
                font-style: normal;
                margin: 0px;
            }

            .second-name-team::before {
                content: "";
                width: 100px;
                height: 5px;
                position: absolute;
                top: 45px;
                background-color: var(--team-two-color);
            }
        }

        .box-time {
            width: 120px;
            height: 50px;
            margin-left: 2px;
            background: linear-gradient(90deg, rgb(233, 215, 141) 0%, rgb(191, 169, 89) 100%);

            .time-match {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                color: rgb(0, 0, 0);
                font-family: 'Prompt', sans-serif;
                font-size: 30px;
                font-weight: bold;
                margin: 0px;
            }
        }
    }
}

/* DASHBOARD CONTAINER */

.container-dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 10px 10px 0px;
    box-shadow: 6px 6px #000;

    .container-dashboard__title {
        font-family: 'Prompt', sans-serif;
        text-transform: uppercase;
        color: #263A29;
        margin: 20px 0 0 0;
    }

    .container-dashboard-teams {
        display: flex;
        flex-direction: column;
        align-items: center;

        .container-dashboard-teams__title {
            margin: 20px 0 10px 0;
            font-family: 'Prompt', sans-serif;
            color: #263A29;
            text-transform: uppercase;
        }
    }
    
    .container-dashboard-fields {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .container-dashboard-fields__input {
        font-size:14px;
        padding:10px 10px 10px 5px;
        display:block;
        width: 150px;
        border:none;
        border-bottom:1px solid #263A29;
        text-transform: uppercase;
    }

    .container-dashboard-fields__input:focus{
        outline: none;
    }

    .container-dashboard-colors {
        display: flex;
        flex-direction: row;
        justify-content: center; 
      }
      
      .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: 0 40px;

        font-family: 'Prompt', sans-serif;
        color: #72345e;
        text-transform: uppercase;
      }
      
      .container-dashboard-colors__choose {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
      }
      
      .container-dashboard-colors__choose::-webkit-color-swatch {
        border-radius: 50%;
        border: 3px solid #000000;
      }
      
      .container-dashboard-colors__choose::-moz-color-swatch {
        border-radius: 50%;
        border: 3px solid #000000;
    }
}